@import '../../styles/index.scss';

.button {
  @include font(16px, 500, normal, 130%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $system-fonts;
  color: $lilac-color;
  border: $border;
  background-color: $light-color;
  padding: 10px 20px;
  min-width: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color $animation-duration ease-in-out,
    color $animation-duration ease-in-out;

  &:hover {
    background-color: $lilac-color;
    color: $light-color;
  }
}
