$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$light-color: #fff;
$dark-color: #000;
$border-color: #ecb1fc;
$link-color: #0645ad;
$placeholder: rgba($dark-color, 0.7);

$border: 2px solid $border-color;
$border-radius: 4px;

$animation-duration: 0.3s;
