@import '../../styles/variables';

.background {
  min-height: 100vh;
  background: center / cover no-repeat url('../../images/background.jpg');
  filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: $dark-color, $alpha: 0.1);
  }
}
